log.txt
ssh.txt
*.swp
*.swo
online_check_log.txt
passlock_log.txt
docker-compose.yaml
auto_backup_log.txt
htdocs/ya6K5EXJEN2TQW4VSvS0acE3SqmxyBDX4dJYZYFGRdXilEUG0ixZIHCOhkxHBY7nNPOz6FWSmoHVA/mariadb_backup*
htdocs/auto_update_log.txt
htdocs/this_server_type.txt
