<!DOCTYPE HTML>
<html>
<meta content="text/plain;charset=utf-8" http-equiv="Content-Type" />
<meta content="utf-8" http-equiv="encoding" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<head>
<!-- Import Orbitron font from google. -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<style>

	/* Three versions of the site online, readonly, and offline are available. */
	/* The online site stores data in a traditional SQL database. The readonly serves as backup access to data. */
	/* And the offline is intended to work as a standalone file on a secure system while also allowing users to upload data encrypted offline to the online database. */
	/* The online and readonly sites are available on the web and the offline can be generated and downloaded from either the online and the readonly. */
	/* Code for the offline database is contained in a heredoc here in this index.html file. This is so an offline database can be generated without a server call. */

	/* We use a perl module HTML::Template which helps with code reuse / readability / maintainability. */
	/* TMPL_VAR values are injected from the perl script while TMPL_INCLUDE inserts all the code in a separate file at the location in this file */

	/* Set CSS color variable depending on which site this is. So down in the heredoc this will be set to red for the offline database and readonly will be chosen from perl. */
	/* Currently needed to do it this way so that offline database will be red no matter which site type generated it: online or readonly. */
	:root {
		--site-type-color: #<TMPL_VAR NAME=page_type_color>;
		--readonly-store-buttons: <TMPL_VAR NAME=hide_readonly_store_buttons>;
	}

	/* Insert CSS code common to main, readonly, and standalone.html offline database versions of the site. */
	/* This code will be used for main, readonly while offline standalone.html will be TMPL_INCLUDE'd below */
	<TMPL_INCLUDE NAME="common_css.tmpl">

</style>
<body>
	<!-----------------------------------------------------SITE HEADER----------------------------------------------------------------------------------!>
	<div class="header" id="header">
		<div class="header_content" id="header_left">
			<div class="header_title">
				<!-- Reload page when Title is clicked in Main/Readonly site versions, offline uses showPage(). -->
				<a href="https://<TMPL_VAR NAME=origin>" id="titletext" style="font-size:30px; text-decoration:underline;" ><TMPL_VAR NAME=titletext></a>
			</div>
		</div>
		<div class="header_content" id="header_right">
			<div class="header_label" style="">
				<!-- Header links use javascript:void, instructing browser to not leave the current page, which is handled by our function showPage(). -->
				<a id="contact_link" href="javascript:void(0);" onclick="saveThenShowPage('faq_site')">FAQ</a>
			</div>
			<div class="header_label" style="">
				<a id="dev_site_link" href="javascript:void(0);" onclick="saveThenShowPage('dev_site')">DEV_SITE</a>
			</div>
			<div class="header_label" style="">
				<a id="contact_link" href="javascript:void(0);" onclick="saveThenShowPage('contact_page_captcha')">CONTACT</a>
			</div>
		</div>
	</div>
	<!-----------------------------------------------------SITE HEADER----------------------------------------------------------------------------------!>

	<!-----------------------------------------------------MAIN PAGE------------------------------------------------------------------------------------!>
	<div class="main_page" id="main_page">
		<!--------------------------SITEWIDE STATUS & WARNINGS---------------------------!>
		<!--------------------------Last Synced Status---------------------------!>
		<div id='read_only_div' style="display:<TMPL_VAR NAME=show_last_updated>; justify-content:space-between; flex-direction: row;">
			<div id="main_site_link" style="display:flex; justify-content:space-between; margin:10px;">
				<a href="https://obf.mkrsvr.org"style="color:#54c597">Main Site: obf.mkrsvr.org</a>   
			</div>
			<div id="last_synced_div" style="display:flex; justify-content:space-between; margin:10px;">
				<label id="last_synced_label" style="" ><TMPL_VAR NAME=last_updated_status></label>
			</div>
		</div>
		<!--------------------------Online Status---------------------------!>
		<div id="offline_status_div" style="display:flex; justify-content:space-between; margin:10px;">
			<label id="offline_label" style="" >YOU'RE OFFLINE. SERVER WILL NOT BE UPDATED WITH ANY NEW SAVES.</label>
		</div>
		<!--------------------------Timeout Warning Overlay---------------------------!>
		<div id="timeout_warning_overlay" style="display:none; justify-content:space-between; margin:10px;">
			<h1 id="" style="color:red " >YOUR DATA SESSION WILL EXPIRE IN 30 SECONDS.</h1>
			<button class="obf_button" id='' style="flex-grow:1" onclick="resetTimeoutAndWarning()">EXTEND SESSION</button>
		</div>
		<!--------------------------SITEWIDE STATUS & WARNINGS---------------------------!>

		<!-- FAQ, Dev Site page navigation is handled with showPage. We include it here in 'off' state, ready for user to click header link. -->
		<!--------------------------DEV SITE----------------------------!>
		<TMPL_INCLUDE NAME="dev_site_html.tmpl">
		<!--------------------------FAQ SITE----------------------------!>
		<TMPL_INCLUDE NAME="faq_html.tmpl">

		<!-- Centers content on the page. -->
		<div class="center_html" id="center_html" style="">

			<!-- HTML for both main/readonly and offline included here. -->
			<TMPL_INCLUDE NAME="common_html.tmpl">

		</div>
		<!--------------------------------------------Center HTML----------------------------------------------------!>

	</div>
	<!--------------------------------------------MAIN PAGE----------------------------------------------------!>

	<!--------------------------------------------SITE FOOTER----------------------------------------------------!>
	<div style="display:flex; flex-direction:column;">
		<button id="go_offline_button" style="display:inline; flex-grow:1" onclick="saveThenShowPage('offline_dbase_2options');">CREATE OFFLINE DATABASE</button>
	</div>
	<!--------------------------------------------SITE FOOTER----------------------------------------------------!>

</body>
<script>

	//////////////////////////////////////////////////////////////
	//                MAIN / READONLY SITE                      //
	//////////////////////////////////////////////////////////////

	//////////////////////////////////////////////////////////////
	//                The onload Function                       //
	//////////////////////////////////////////////////////////////

	//The load event is fired when the whole page has loaded.
	window.onload = async function() {
		// Initial server online check.
		await updateOnlineStatus();
		// Count every time a unique visitor accesses this site.
		serverCountUniqueVisitors();
		// Set up all copy to click listeners.
		addListenersToAllCopyToClick();
	}

	// Allows switch to offline database variable for both main, readonly site versions.
	const siteColor = '#<TMPL_VAR NAME=page_type_color>';
	const hideReadonlyButtons = '<TMPL_VAR NAME=hide_readonly_store_buttons>';

	//////////////////////////////////////////////////////////////
	//             Included Template Files                      //
	//////////////////////////////////////////////////////////////
	//
	// Dev site javascript functions. Handles UI & crypto wrapper functions.
	<TMPL_INCLUDE NAME="dev_site_js.tmpl">
	// Javascript functions that are common to both main site index.html as well as offline database standalone.html.
	<TMPL_INCLUDE NAME="common_js.tmpl">
	// Fetch based server communication functions that interact with an online server.
	// - Might merge with common
	// - Need to devise wise way to use an if to filter out server comms functions that we wish to prune for security and otherwise.
	<TMPL_INCLUDE NAME="online_server_comms.tmpl">
	// Javascript native subtleCrypto lib based library used for Multi Encrypted Datarecord (MEDrecord) encryption/decryption.
	<TMPL_INCLUDE NAME="core_crypto.tmpl">

	// Function call wrapper that allows online and offline use of catchUpload.
	async function saveFileData(filedata){
		passlockedData['data'] = await passlockEncrypt(filedata);
	}


	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//							 Passlock and User Data Handling Functions                                    //
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// Passwords and storage data in the clear is passed through this web browser interface.
	// In order to minimize exposure to this data the passlock system is used to temporarily encrypt cleartext data
	// as the user moves through the interface.
	// 
	// The passlock system was devised to solve this problem.
	// Two randomly generated UUIDs are used: a browser ID and the passlock itself.
	// The passlock is used to encrypt user passwords and data as they move through the interface.
	// The browser ID is used to access the passlock from the server.
	//
	// The passlock cannot be stored in the browser (as that would enable an attacker to decrypt user data nullifying the passlock system),
	// so after creation, it is stored on the server and retrieved using the browser ID as the user moves through the UI.
	// 
	// 'Passlocked' data, user data that has been encrypted by the UUID based passlock, is stored in the global object passlockedData.
	// Each piece of user data is stored as a key-value pair with the name of the password or data as the key.
	// Options are: codeword, obf1000Pass, obf12pass, opensslpass
	// 
	////////////////////////////////////////////////////////////////////////////////////////////////////////////

	// Global browserId variable to be used for accessing passlock, 
	let browserId = null;
	// Keep track of running timeout.
	let timeoutId;
	let warningTimeoutId;
	// Create Object for passlocked passwords and data.
	let passlockedData = {};
	// Reset passlock global variables
	async function resetPasslock() {
		//console.log("resetPasslock called! Passlock has been reset.");
		// Always clear passlocked data for security.
		passlockedData = {};
		// Clear running timeouts.
		clearTimeoutAndWarning();
		// Don't cause error by sending null into serverDeletePasslock.
		if (browserId !== null) {
			// Ask server to delete passlock.
			await serverDeletePasslock(browserId);
			browserId = null;
		}
	}// resetPasslock()

	// Clear running timeouts.
	function clearTimeoutAndWarning() {
		// clearTimeout is a native javascript function that will cancel the timeout for a given timeout id.
		clearTimeout(timeoutId);
		clearTimeout(warningTimeoutId);
		timeoutId = '';
		warningTimeoutId = '';
	}// clearTimeoutAndWarning()

	// Return passlock for encrypt/decrypt functions if not timed out.
	// Only works on getting existing passlock that hasn't timed out.
	async function getPasslock() {
		// Check for timeout.
		if (browserId === null) {
			showPage("timed_out_home");
			// Nothing is supposed to call this function while brrowserId unset. 
			throw Error("Passlock is timed out!");
		}

		const passlock = await serverGetPasslock(browserId);
		if (passlock.length !== PASSLOCK_LENGTH || !checkUUIDChars(passlock)) { // Data doesn't look like a passlock.
			//showPage("unable_to_retrieve_passlock");
			throw Error("Unable to retrieve passlock!");
		}else{
			// Looks good.
			return passlock;
		}
	}// getPasslock()

	// Generate a browserId, passlock and save to server as a key-value pair.
	async function generatePasslock() {
		// Generate new browserId (global variable).
		browserId = self.crypto.randomUUID();
		// Generate new passlock (not global).
		const passlock = self.crypto.randomUUID();
		// If handling error inside function, don't need 'await' here?
		serverSetPasslock(browserId, passlock);
		return passlock;
	}// generatePasslock()

	// Resets any old data.
	// Generates a new passlock for encrypting user plaintext passwords and data.
	// Sets 5 minute timer for security.
	// Saves first user data which will always be the codeword.
	async function initFlow(inputId) {
		// Reset browserId and encrypted user data, passwords.
		await resetPasslock();
		// Set passlock reset timetout to 5 minutes and a warning timout to 30 seconds before that.
		setTimeoutAndWarning();
		// Reset old data and generate new passlock, browserId.
		const passlock = await generatePasslock();
		//console.log("new browserId: " + browserId);
		//console.log("new passlock: " + passlock);

		// Data will be stored at keyword's 'location'.
		// Extract keyword using regex. could be: codeword, obf1000Pass, obf12pass, opensslpass
		const keyword = extractKeyword(inputId);
		// Extracts either user password or data from DOM object's  value.
		const plaintextData = extractPlaintextData(inputId);
		// OpenSSL encrypt user data and store in global Object. 
		passlockedData[keyword] = await utf8EncryptOpenSSL(plaintextData, passlock);
	}// initFlow()

	function clearInputs(){
		// Clear all inputs that exist in this HTML document.
		let inputElements = document.getElementsByTagName('input');
		console.log("Clearing all input elements. Found this many: ", inputElements.length);
		for (let i=0; i < inputElements.length; i++) {
			inputElements[i].value = "";
		}
	}

	// Set timeout timers.
	function setTimeoutAndWarning() {
		// Set hard timeout timer that will reset passlock when fired.
		// Also set the function to be run on that timeout.
		timeoutId = setTimeout(() => {
			// Code to be run if/when timeout occurs.
			// Perform 'Hard' timeout.
			// Perform security reset.
			resetSecurityAndUI();
			// Clear all input fields.
			clearInputs();
			// Turn off warning, we've timed out.
			document.getElementById("timeout_warning_overlay").style.display = "none";
			// Show user thqat we've timed out.
			showPage('timed_out_home');
			// Delete passlock.
			resetPasslock();
			//console.log("5 mintue Timeout elapsed! Data session expired!");
		}, FIVE_MINUTES); // Five minutes.
		// Set warning timeout to 30 seconds before hard timeout.
		warningTimeoutId = setTimeout(() => {
			// Show warning overlay so user can click to extend timeout.
			document.getElementById("timeout_warning_overlay").style.display = "flex";
		}, FOUR_MINUTES_THIRTY_SECONDS); // Set timer to 4:30 allowing 30 seconds for user to react to warning.
	}// setTimeoutAndWarning()

	// Cleear running timers then set them. Turn off warning.
	function resetTimeoutAndWarning() {
		// Turn off warning.
		document.getElementById("timeout_warning_overlay").style.display = "none";
		// Clear running timeouts.
		clearTimeoutAndWarning();
		// Start new timesrs.
		setTimeoutAndWarning();
		// Extend passlock server lease by setting record's timestamp to CURRENT_TIMESTAMP in MariaDB. 
		serverExtendPasslock(browserId);
	}// resetTimeoutAndWarning()

	// Use regex to extract keyword from input ID.
	function extractKeyword(inputId) {
		const regex = new RegExp(/^\w+_(\w+)_\w+$/);
		const match = inputId.match(regex);
		return match[1];
	}// extractKeyword()

	//Function that extracts user password from html and deletes it from the html source.
	function extractPlaintextData(inputId) {
		const plaintextData = document.getElementById(inputId).value;
		document.getElementById(inputId).value = ""; //delete password from html
		return plaintextData;
	}// extractPlaintextData()

	// Extract, encrypt, and store data at inputId to global passlockedData Object.
	async function extractInputData(inputId) {
		const passwordType = extractKeyword(inputId);
		const plaintextData = extractPlaintextData(inputId);
		// Encrypt user data using previously set passlock that will be retreived from server using browserId as long as we haven't timed out.
		try {
			passlockedData[passwordType] = await passlockEncrypt(plaintextData);
		} catch (error) {
			showPage('passlock_error_deny');
			//resetPasslock();
			throw Error("PASSLOCK ERROR: Cannot proceed without working passlock.");
		}
	}// extractInputData()

	// Checks existing encrypted pass at index vs reiteration step encrypted value.
	async function checkData(inputId, nextPageId) {
		saveCurrentStateToHistorySoBackWillWork();
		const keyword = extractKeyword(inputId);
		const plaintextPass = extractPlaintextData(inputId);
		const decryptedPass = await passlockDecrypt(passlockedData[keyword]);
		if (decryptedPass === plaintextPass) {
			// Password re-iterated successfully, continue to next page.
			showPage(nextPageId);
		}else{
			showPassCheckFailWarnings();
			// Re-iterated password doesn't match original.
			throw Error("Passwords are different!");
			// Failed to re-iterate, Stay on this page.
		}
	}// checkData()

	// Use previously generated passlock to encrypt input.
	async function passlockEncrypt(plaintextPassword) {
		const passlock = await getPasslock();
		const encryptedPassword = await utf8EncryptOpenSSL(plaintextPassword, passlock);
		return encryptedPassword;
	}// passlockEncrypt()

	async function passlockDecrypt(encryptedPasslock) {
		const passlock = await getPasslock();
		const plaintextData = await utf8DecryptOpenSSL(encryptedPasslock, passlock);
		return plaintextData;
	}// passlockDecrypt()

	// Decrypt passlocked password set and return plaintext set.
	async function passlockDecryptSet() {
		const passlock = await getPasslock();
		let plaintextSet = {};
		for(const keyword in passlockedData) {
			plaintextSet[keyword] = await utf8DecryptOpenSSL(passlockedData[keyword], passlock);
		}
		console.log("Plaintext Set: ");
		console.log(plaintextSet);
		return plaintextSet;
	}// passlockDecryptSet()

	async function computeFpAndDataForStore() {
		// Get plaintext passwords for encryption.
		const plaintextSet = await passlockDecryptSet();
		const fingerprintAndData = {};
		fingerprintAndData['fingerprint'] = await computeFingerprint(plaintextSet['codeword'], plaintextSet['obf1000Pass'], plaintextSet['ctrPass']);
		//Check for existence of 'key' in js Object.
		if ('opensslpass' in passlockedData) {
			//console.log("we found opensslpass in passlockedData");
			fingerprintAndData['data'] = await encryptTriple(plaintextSet['obf1000Pass'], plaintextSet['ctrPass'], plaintextSet['opensslpass'], plaintextSet['data']);
		}else{
			fingerprintAndData['data'] = await encryptDouble(plaintextSet['obf1000Pass'], plaintextSet['ctrPass'], plaintextSet['data']);
		}
		return fingerprintAndData;
	}// computeFpAndDataForStore()

	async function attemptCMDStore() {
		goBackProgrammaticallyXandDontFireShowPage(7);
		const fingerprintAndData = await computeFpAndDataForStore();
		checkFingerprintAndData(fingerprintAndData['fingerprint'], fingerprintAndData['data']);
		storeDataToServer(fingerprintAndData['fingerprint'], fingerprintAndData['data'], 'cmd_store');
	}// attemptCMDStore()

	// Looks like this is only needed for Access->Edit?
	async function attemptBrowserStoreBackWrapper(inputId) {
		console.log('back wrapper hit.');
		await attemptBrowserStore(inputId, 'true');
	}

	async function attemptBrowserStore(inputId, fromWrapper) {
		// This ugly conditional is necessary for back functionality.
		if (fromWrapper === 'true') {
			// Got here from edit, use go back value for Access flow.
			goBackProgrammaticallyXandDontFireShowPage(3);
			showPageFlag = 'true';
		} else {
			// Got here from Store flow.
			goBackProgrammaticallyXandDontFireShowPage(9);
		}
		// Encrypt and save OpenSSL password to passlockedData object.
		await extractInputData(inputId);
		const fingerprintAndData = await computeFpAndDataForStore();
		checkFingerprintAndData(fingerprintAndData['fingerprint'], fingerprintAndData['data']);
		storeDataToServer(fingerprintAndData['fingerprint'], fingerprintAndData['data'], inputId);
	}// attemptBrowserStore()

	async function editData() {
		document.getElementById('access_data_outputdisplay').disabled = false;
		// Turn on textarea so user can edit.
		document.getElementById('access_data_outputdisplay').focus();
		// 
		showEditEnabledUI();
		// Hide both existing buttons
		document.getElementById("editdata_button").style.display = "none";
		document.getElementById("delete_button").style.display = "none";
		// Show single SAVE button
		document.getElementById("save_button").style.display = "inline";
	}// editData()

	async function computeFpForAccess() {
		// Get plaintext passwords for encryption.
		const plaintextSet = await passlockDecryptSet();
		const fingerprint = await computeFingerprint(plaintextSet['codeword'], plaintextSet['obf1000Pass'], plaintextSet['ctrPass']);
		return fingerprint;
	}// computeFpForAccess()

	async function attemptCMDAccess() {
		goBackProgrammaticallyXandDontFireShowPage(3);
		const fingerprint = await computeFpForAccess();
		//console.log("CMD Access. fingerprint: " + fingerprint);
		const multiEncryptedDatarecord = await serverLoad(fingerprint);
		if (multiEncryptedDatarecord === "TOO_MANY_ACCESS_FAILURES") {
			showPage('too_many_access_failures');
		} else if (multiEncryptedDatarecord.length !== MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64 || !checkBase64Chars(multiEncryptedDatarecord)) {
			showPage('failed_to_access');
		}else{
			showPage('access_file');
			// On successful Access, hold fingerprint in HTML in case user wants to delete their data.
			holdFpForDelete(fingerprint);
			await decryptAndDownloadFile(multiEncryptedDatarecord);
		}
		// Delete passlock for secruity.
		resetPasslock();
	}// attemptCMDAccess()

	async function decryptAndDownloadFile(multiEncryptedDatarecord) {
		// Get set of decrypted user passwords.
		const plaintextSet = await passlockDecryptSet();
		// Not adding try/catch here. I think it would be more helpful to know what failed instead as it would likely be not a password entry error since there was data to operate on (fingerprint loaded data).
		const decryptedData  = await decryptDouble(plaintextSet['obf1000Pass'], plaintextSet['ctrPass'], multiEncryptedDatarecord);

			// bytes is Uint8Array
			const bytes = Uint8Array.fromBase64(decryptedData);
			// Produce file for user to decrypt.
			let blob = new Blob([bytes]);
			let a = document.createElement('a');
			a.href = window.URL.createObjectURL(blob);
			a.download = 'yourfile.enc';
			a.click();
	}// decryptAndDownloadFile()

	async function attemptBrowserAccess(inputId) {
		goBackProgrammaticallyXandDontFireShowPage(4);
		// Encrypt and save OpenSSL password to passlockedData object.
		await extractInputData(inputId);
		const fingerprint = await computeFpForAccess();
		const multiEncryptedDatarecord = await serverLoad(fingerprint);
		// Report outcome of Access attempt.
		if (multiEncryptedDatarecord === "TOO_MANY_ACCESS_FAILURES") {
			showPage('too_many_access_failures');
			resetPasslock();
		}else if (multiEncryptedDatarecord.length !== MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64 || !checkBase64Chars(multiEncryptedDatarecord)) {
			showPage('failed_to_access');
			resetPasslock();
		}else{
			showPage('access_plaintext');
			// On successful Access, hold fingerprint in HTML in case user wants to delete their data.
			holdFpForDelete(fingerprint);
			await decryptAndShowPlaintext(multiEncryptedDatarecord);
		}
	}// attemptBrowserAccess()

	function getStoredFp() {
		const fingerprint = document.getElementById("fingerprint_holder").value;
		// Clear fingerprint held for delete. Always do this?
		document.getElementById("fingerprint_holder").value = '';
		return fingerprint;
	}// getStoredFp()

	function holdFpForDelete(fingerprint) {
		// Set fingerprint holder to fingerprint.
		document.getElementById("fingerprint_holder").value = fingerprint;
		console.log("fingerprint now held in HTML: " + document.getElementById("fingerprint_holder").value);
	}// holdFpForDelete()

	async function decryptAndShowPlaintext(multiEncryptedDatarecord) {
		const plaintextSet = await passlockDecryptSet();
		//const decryptedData  = await decryptTriple(plaintextSet['obf1000Pass'], plaintextSet['ctrPass'], plaintextSet['opensslpass'], multiEncryptedDatarecord);
		let decryptedData;
		try {
			decryptedData = await decryptTriple(plaintextSet['obf1000Pass'], plaintextSet['ctrPass'], plaintextSet['opensslpass'], multiEncryptedDatarecord);
		}catch (error) {
			console.log(error);
			// Would it make sense to catch a specific error?
			// Assume there was a password entry error.
			showPage("password_entry_error");
		}
		// Reveal plaintext to user.
		document.getElementById("access_data_outputdisplay").value = decryptedData;
	}// decryptAndShowPlaintext()

	// Main Delete Function Handler
	// Takes the inputs gathered from the user, processes them, communicates with the server, and produces output for the user as needed.
	// Inputs: plaintext held in inputs hidden from the user until all data is ready for the server query.
	// Output: functionality.
	async function attemptDelete() {
		goBackProgrammaticallyXandDontFireShowPage(4);
		// Load from server
		const fingerprint = getStoredFp();
		const deleteResponse = await serverDelete(fingerprint);
		// Report delete outcome.
		if (deleteResponse === "success") {
			// Server successfully stored data, report success.
			showPage('delete_success');
		}else{
			// Doesn't look like server stored data properly, report fail.
			showPage('delete_failed');
		}
		await resetPasslock();
	}// attemptDelete()

	// Return either pass or fail to show outcome of store, pass or fail to user.
	// Legacy code probably needs full rewrite.
	async function storeDataToServer(fingerprint, multiEncryptedDatarecord, inputId) {
		// Attempt to store a record to the server.
		const storeResponse = await serverStore(fingerprint, multiEncryptedDatarecord);
		console.log("storeResponse: " + storeResponse);
		if (storeResponse === 'STORES_OVER_100') {
			showPage('stores_over_100');
		}else{
			// Load data at fingerprint, should be the encrypted data block we just stored.
			const loadResponse = await serverLoad(fingerprint);
			// Report store outcome.
			if (multiEncryptedDatarecord === loadResponse) {
				// We succeeded.
				if (inputId === 'access_data_outputdisplay') {
					showPage('edit_success');
				}else{
					// Server successfully stored data, report success.
					showPage('store_success');
				}
			}else{
				// Doesn't look like server stored data properly, report fail.
				showPage('store_failed');
			}
		}
		await resetPasslock();
	}// storeDataToServer()



	///////////////////////////////////////////////////////////////////////////////////
	//                       Offline Database Generation                             //
	///////////////////////////////////////////////////////////////////////////////////
	// A new offline database is generated by producing a number of bytes and coverting them to 1,067,000 base64 chars.
	// 
	// Provided is the option to fill a new offline database with records from the online database.
	// This will start a flow where users can Access a Multi Encrypted Datarecord + Fingerprint pair and place them
	// in the new offline database so that data will be accessible (with the same set of passwords) in the offline database.
	// 
	// Also provided is the option to encrypt your offline database.
	// The password provided will be used to AES-CTR encrypt the entire set of offline database chars.
	// Data in the Encrypted offline database will then need to be Accessed by first entering the same password used at build time.
	// 
	// The Encrypted and Unencrypted offline databases are built to be used at the same time.
	// The offline database home page asks for this password. If a user would like to use the encrypted side, enter the password used to encrypt at creation time.
	// If the Unencrypted offline database is to be used, please choose NO PASSWORD.
	// 
	///////////////////////////////////////////////////////////////////////////////////


	// Object to gather set of records to be stored in a new offline database (Option 1).
	let recordListForNewOfflineDBase = {};

	// Delete object used to gather fingerprints, MEDs for Option 1: fill with existing data.
	// Then go to passed in page.
	function clearNewOfflineDBaseListThenShow(inputId) {
		console.log("Clearing temp stack of records that were to be added to new offline database.");
		// Clear data held in list object.
		recordListForNewOfflineDBase = {};
		// Manually create save location then go to page.
		saveThenShowPage(inputId);
	}

	// Access online record and store it in temp list object which will be used to fill a new offline database.
	async function getOnlineRecordForNewOfflineDBase(inputId) {
		// Create location in history memory.
		saveCurrentStateToHistorySoBackWillWork();
		// Gather ctrPass from input box for the given html input ID and store in passlock object.
		await extractInputData(inputId);
		// All user passwords should be ready at this point. Compute Fingerprint.
		const fingerprint = await computeFpForAccess();
		const multiEncryptedDatarecord = await serverLoad(fingerprint);
		// Change history 'pointer' to top of flow once job/operation executed.
		goBackProgrammaticallyXandDontFireShowPage(3);
		// Check that data is valid.
		if (multiEncryptedDatarecord === "TOO_MANY_ACCESS_FAILURES") {
			showPage('too_many_access_failures');
		} else if (multiEncryptedDatarecord.length !== MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64 || !checkBase64Chars(multiEncryptedDatarecord)) {
			showPage('failed_to_access_for_new_offline_database_creation');
		} else {
			// Push fp, data to recordListForNewOfflineDBase collector object.
			recordListForNewOfflineDBase[fingerprint] = multiEncryptedDatarecord;
			// Check if new offline database is full.
			const recordListForNewOfflineDBaseLength = Object.keys(recordListForNewOfflineDBase).length;
			// Compile string for UI depending on list length.
			let numberAndRecordContent;
			if (recordListForNewOfflineDBaseLength === 1) {
				numberAndRecordContent = '1 RECORD';
			} else {
				numberAndRecordContent = recordListForNewOfflineDBaseLength + ' RECORDS';
			}
			// Set compiled string to UI object's innerHTML.
			document.getElementById("numRecordsAdded").innerHTML = numberAndRecordContent;
			document.getElementById("failedtoaccess_numRecordsAdded").innerHTML = numberAndRecordContent;
			// A given database only holds 1000 records so move on if we break that amount.
			if (recordListForNewOfflineDBaseLength == 1000) {
				// No more room in offline dbase, no choice but to continue.
				showPage('offlineDatabase_pass_or_no_filled');
			} else if (recordListForNewOfflineDBaseLength > 1000) {
				showPage('too_many_records');
			} else {
				// Let user decide to add more or continue with offline dbase creation.
				showPage('newofflinedatabase_existingdata_record_added');
			}
		}
		resetPasslock();
	}// getOnlineRecordForNewOfflineDBase();

	// Default pointer parameter. Without pointer input, will assume start at beginning of database.
	// Function should work with empty recordListForNewOfflineDBase set?
	function fillNewOfflineDBase(offlineDatabase, pointer=0) {
		console.log("filling new offline database.");
		// While gather object not empty, fill 
		for(const [fingerprint, data] of Object.entries(recordListForNewOfflineDBase)) {
			console.log('Storing fingerprint: ' + fingerprint + '\n Storing data: ' + data);
			offlineDatabase = storeFingerprintAndDataToOfflineDBase(pointer, fingerprint, data, offlineDatabase);
			pointer++;// Important to increment AFTER store.
		}
		let returnData = {};
		returnData['pointer'] = pointer;
		returnData['database'] = offlineDatabase;
		return returnData;
	}// fillNewOfflineDBase()

	// Replace random junk data row with a fingerprint + MED.
	function storeFingerprintAndDataToOfflineDBase(pointer, fingerprint, multiEncryptedDatarecord, offlineDatabase) {
		// Multiplying moves us to record at pointer.
		const recordStart = pointer * FINGERPRINT_AND_MEDRECORD_LENGTH_BASE64;
		const recordEnd = recordStart + FINGERPRINT_AND_MEDRECORD_LENGTH_BASE64;
		// Compile replacement database. 
		return offlineDatabase.substring(0, recordStart) + fingerprint + multiEncryptedDatarecord + offlineDatabase.substring(recordEnd);
	}// storeFingerprintAndDataToOfflineDBase()

	// Used for both Option 1 and 2
	// Generate two sets of 1,067,000 random base64 chars for each offline database side (ENC and UNENC).
	// ENC side will be 1,067,024 when encrypted to hold the prepended salt.
	// Set up these databases with pointers that point to the next 'empty' 'location' in the set of random data where the record data of the offline database is hidden.
	async function createAndFillOfflineDBase(chosenDatabase, inputId) {
		saveCurrentStateToHistorySoBackWillWork();
		let offlineDatabaseUnenc = '';
		// Roll UNENC side pointer to a random number between [0 - number of records user is adding] and 999 to the offline database.
		let recordListLength = Object.keys(recordListForNewOfflineDBase).length;
		let offlineDatabaseUnencPointer;
		//Set the pointer to 1000 if all 1000 records in the database are filled.
		if (recordListLength > 999) {
			offlineDatabaseUnencPointer = 1000;
		}else{
			offlineDatabaseUnencPointer = randInt(recordListLength, MAX_POINTER_VALUE);
		}
		let offlineDatabaseEnc = '';
		let offlineDatabaseEncPointer = '';
		// Start by filling both databases with random base64 chars.
		offlineDatabaseUnenc = getRandDatabase();
		offlineDatabaseEnc = getRandDatabase();
		// User can choose to encrypt their offline database with a password.
		// This choice determines which database (ENC or UNENC) the set of pre-filled records is saved to.
		if (chosenDatabase === 'encrypted') {
			// Fill user chosen side with set of records they gathered. Returns offline database as-is if user entered no records.
			const filledOfflineDatabaseAndPointer = fillNewOfflineDBase(offlineDatabaseEnc);
			// Get ENC password.
			//const encPassword = extractPlaintextData("offlineDBasePass_input");
			const encPassword = extractPlaintextData(inputId);
			// Set ENC side. 
			offlineDatabaseEnc = await encryptAESCTR(filledOfflineDatabaseAndPointer['database'], encPassword);
			offlineDatabaseEncPointer = await encryptTriple(encPassword, encPassword, encPassword, filledOfflineDatabaseAndPointer['pointer']);
			// Set UNENC side.
			// Values already ready to go!
		}else{
			// Fill user chosen side with set of records they gathered. Returns offline database as-is if user entered no records.
			const filledOfflineDatabaseAndPointer = fillNewOfflineDBase(offlineDatabaseUnenc, offlineDatabaseUnencPointer);
			// Get ENC password.
			const encPassword = getRandMultiEncryptedDatarecord();
			// Set ENC side. 
			offlineDatabaseEnc = await encryptAESCTR(offlineDatabaseEnc, encPassword);
			offlineDatabaseEncPointer = getRandMultiEncryptedDatarecord();
			// Set UNENC side.
			offlineDatabaseUnenc = filledOfflineDatabaseAndPointer['database'];
			offlineDatabaseUnencPointer = filledOfflineDatabaseAndPointer['pointer'];
		}
		// Compile static standalone code with generated databases and push to user.
		downloadStandalone(offlineDatabaseUnenc, offlineDatabaseUnencPointer, offlineDatabaseEnc, offlineDatabaseEncPointer);
		// Delete object used to gather fingerprints, MEDs for Option 1: fill with existing data.
		clearNewOfflineDBaseListThenShow('home');
	}// createAndFillNewOfflineDBase()

	// Randomly generate a single Multi Encrypted Datarecord worth of junk data.
	function getRandMultiEncryptedDatarecord() {
		// This value that will convert to 1024 base64 chars.
		const randarray = window.crypto.getRandomValues(new Uint8Array(MULTI_ENCRYPTED_DATARECORD_LENGTH_BYTES));
		return randarray.toBase64();
	}// getRandMultiEncryptedDatarecord()

	// Randomly generate 43 base64 chars of junk data.
	function getRandFingerprint() {
		// 32 bytes is the output of SHA-256
		const randarray = window.crypto.getRandomValues(new Uint8Array(FINGERPRINT_LENGTH_BYTES));
		// omitPadding used here to remove a single '=' char, leaving us with a length of 43 for fingerprints.
		return randarray.toBase64({omitPadding: true});
	}// getRandFingerprint()

	//Generate the random bytes composing our database.
	function getRandDatabase() {
		// Each record has 43 base64 chars for fingerprint and 1024 chars for the data.
		// There are 1000 records, so 1000*(1024+43) = 1,067,000 base64 chars.
		const TOTAL_BASE64_CHARS = 1000 * (MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64 + FINGERPRINT_LENGTH_BASE64);
		// So we need 1067000 base64 chars * (3 raw bytes/4 base 64 chars) = 800250 raw bytes from subtle crypto.
		const TOTAL_RAW_BYTES_NEEDED = TOTAL_BASE64_CHARS * (3/4);
		//console.log('total raw needed: ', TOTAL_RAW_BYTES_NEEDED);
		let randBytes = new Uint8Array(0);			// random raw bytes that will be converted to base64 database
		//let bytesStillNeeded = 800250; // total number of random raw bytes we need to generate to make the database.
		let bytesStillNeeded = TOTAL_RAW_BYTES_NEEDED; // total number of random raw bytes we need to generate to make the database.
		do{
			if (bytesStillNeeded > 65536) {
				randBytes = concatBuffer(randBytes, window.crypto.getRandomValues(new Uint8Array(65536)));
				bytesStillNeeded -= 65536; // 65,536 is the max size of a Uint8Array that getRandomValues can fill.
			}else{
				randBytes = concatBuffer(randBytes, window.crypto.getRandomValues(new Uint8Array(bytesStillNeeded)));
				bytesStillNeeded -= bytesStillNeeded;  //bytesStillNeeded is zero now.
			}
		}while(bytesStillNeeded > 0);
		//Now that we've generated all 800250 random raw bytes, convert them to 1,067,000 base64 characters.
		return randBytes.toBase64();
	}// getRandDatabase()

	//Generate random integers from 0 to 4,294,967,296.
	function randInt(min, max) {
		//Number safety checks.
		if (!(Number.isSafeInteger(min) && Number.isSafeInteger(max))) {
			throw Error("min and max must be safe integers");
		}
		if (min > max) {
			throw Error("min must be less than or equal to max");
		}
		//Create array with proper integer size for the specified range (i.e. 8 bits = 0-255, 16 bits = 0-65535)
		let randarray;
		if (max < 256) {
			randarray = new Uint8Array(1);
		}else if (max < 65536) {
			randarray = new Uint16Array(1);
		}else if (max < 4294967296) {
			randarray = new Uint32Array(1);
		}else{
			throw new Error("Max number is too large for this function!");
		}
		//Start generating random numbers and reject every number outside our min/max range.
		let randnum;
		do{
			randnum = window.crypto.getRandomValues(randarray);
		}while(randnum < min || randnum > max);
		return randnum[0];
	}// randInt()

	/////////////////////////////////////////////////////////////////////////
	//					Check Functions									   //
	/////////////////////////////////////////////////////////////////////////

	// Return true if input only contains uuid chars which are used for passlock and browserID.
	function checkUUIDChars(input) {
		const regex = new RegExp(/^[a-f0-9-]*$/);
		if (regex.test(input)) {
			return true;
		}else{
			return false;
		}
	}// checkUUIDChars()

	// Return true if input only contains base64 chars, including padding char: '='
	function checkBase64Chars(input) {
		const regex = new RegExp(/^[a-zA-Z0-9+=\/]*$/);
		if (regex.test(input)) {
			// Return true/valid
			return true;
		}else{
			// Return false/invalid
			return false;
		}
	}// checkBase64Chars()

	// Returns true if input has precisely FINGERPRINT_LENGTH_BASE64 (43) base64 chars.
	function checkFingerprintIsValid(fingerprint) {
		// Need backticks to wrap regex inside constructor call so that global constant variable FINGERPRINT_LENGTH_BASE64 can be passed in.
		const regex = new RegExp(`^[A-Za-z0-9+/=]{${FINGERPRINT_LENGTH_BASE64}}$`);
		if (regex.test(fingerprint)) {
			return true;
		}else{
			return false;
		}
	}// checkFingerprintIsValid()

	// Returns true if input has precisely MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64 (1024) base64 chars.
	function checkDataIsValid(data) {
		const regex = new RegExp(`^[A-Za-z0-9+/=]{${MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64}}$`);
		if (regex.test(data)) {
			return true;
		}else{
			return false;
		}
	}// checkDataIsValid()


	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// Once the 2 offline databases (encrypted, unencrypted) and their corresponding pointers are ready,
	// this function is called which will deposit those datas into the code for the offline database below.
	// 
	// Generates standalone html file from static code held in multiline string below:
	function downloadStandalone(offlineDatabaseUnenc, offlineDatabaseUnencPointer, offlineDatabaseEnc, offlineDatabaseEncPointer) {

// !@# = search for this spot (turn on/off syntax highlighting)

		// standalone.html static code.
		const standaloneCode = `
			<TMPL_INCLUDE NAME="offline_standalone.tmpl">
		`;

		// Create element then click it to force user download of code that was just compiled.
		// Create HTML 'anchor' element, set to variable 'element'.
		let element = document.createElement('a');
		// Set 'href' attribute, creating a link that contains the giant static variable standaloneCode which contains standalone.html.
		element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(standaloneCode));
		// Force the browser to download instead of navigating to link. Set the default filename to 'standalone.html'
		element.setAttribute('download', 'standalone.html');
		// Don't show the anchor element 'element'.
		element.style.display = 'none';
		// Attach anchor element 'element' to the HTML body.
		document.body.appendChild(element);
		// Click the anchor element 'element'.
		element.click();
		// Detach anchor element 'element' from the HTML body.
		document.body.removeChild(element);
	}//downloadStandalone()

</script>

</body>

</html>









