<!DOCTYPE HTML>
<html>
<meta content="text/plain;charset=utf-8" http-equiv="Content-Type" />
<meta content="utf-8" http-equiv="encoding" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<style>

	/* Set color variable to offline red for both online and readonly site versions. */
	:root {
		--site-type-color: red;
	}

	<TMPL_INCLUDE NAME="common_css.tmpl">


</style>
<body>
	<!--------------------------HEADER----------------------------!>
	<div class="header" id="header">
		<div class="header_content" id="header_left">
			<div class="header_title">
				<a id="titletext" style="font-size:30px; text-decoration:underline;" >PGO-OFFLINEWORD</a>
			</div>
		</div>
		<div class="header_content" id="header_right">
			<div class="header_label" style="">
				<a id="contact_link" href="javascript:void(0);" onclick="showPage('faq_site')">FAQ</a>
			</div>
			<div class="header_label" style="">
				<a id="dev_site_link" href="javascript:void(0);" onclick="showPage('dev_site')">DEV_SITE</a>
			</div>
			<div class="header_label" style="">
				<a id="contact_link" href="javascript:void(0);" onclick="showPage('contact_page_captcha')">CONTACT</a>
			</div>

		</div>
	</div>

	<!--------------------------Online Status---------------------------!>
	<div id="offline_status_div" style="display:flex; justify-content:space-between; margin:10px;">
		<label id="offline_label" style="" >YOU'RE OFFLINE. SERVER WILL NOT BE UPDATED WITH ANY NEW SAVES.</label>
	</div>
	<!--------------------------Offline Database Warning----------------------------!>
	<div id="full_offline_dbase_warning_div" style="display:flex; justify-content:space-between;">
		<label id="full_offline_dbase_warning" style="display:none; color:red;" >YOUR OFFLINE DATABASE IS FULL. ADDITIONAL STORES WILL NOT BE SAVED TO IT. IF ADDITIONAL STORAGE IS NEEDED, PLEASE INITIALIZE A NEW OFFLINE DATABASE (AFTER PROPERLY STORING THIS ONE).</label>
	</div>

	<!--------------------------MAIN PAGE--------------------------------------------------------------------------------------------------------------------------------------------------------!>
	<div class="main_page" id="main_page">

		<!--------------------------DEV SITE----------------------------!>
		<TMPL_INCLUDE NAME="dev_site_html.tmpl">
		<!--------------------------FAQ SITE----------------------------!>
		<TMPL_INCLUDE NAME="faq_html.tmpl">

		<!--------------------------Div Housing for Flow Pages----------------------------!>
		<div class="center_html" id="center_html" style="">

			<TMPL_INCLUDE NAME="common_html.tmpl">

		</div> <!-------------------------------------------- Center HTML----------------------------------------------------!>
	</div><!-------------------------------------------- Main Site ----------------------------------------------------!>

	<!-------------------------------------------- Footer Buttons ----------------------------------------------------!>
	<div style="display:flex; flex-direction:column;">
		<div id="savetodisk_warning" style="background-color:gray; display:none; flex-direction:column;">
			<h2>NEW DATA HAS BEEN STORED TO MEMORY. IN ORDER TO SAVE TO DISK PLEASE CLICK THIS BUTTON TO SAVE CURRENTLY RUNNING HTML TO A FILE. THIS WILL ALLOW YOUR DATA TO PERSIST THROUGH REBOOTS.</h2>
			<button id='' style="align-self:center;" onclick="saveToDisk(); saveThenShowPage('offline_home')">SAVE DATA TO DISK</button>
		</div>
	</div>
	<!-------------------------------------------- Footer Buttons ----------------------------------------------------!>

</body>
<!----------------------------------JAVASCRIPT-------------------------------------!>
<!----------------------------------JAVASCRIPT-------------------------------------!>
<!----------------------------------JAVASCRIPT-------------------------------------!>
<script>
	//////////////////////////////////////////////////////////////
	//              OFFLINE DATABASE SITE                       //
	//////////////////////////////////////////////////////////////

	//////////////////////////////////////////////////////////////
	//                The onload Function                       //
	//////////////////////////////////////////////////////////////

	//The load event is fired when the whole page has loaded.
	window.onload = async function() {
		// Initial server online check.
		await updateOnlineStatus();
		addListenersToAllCopyToClick();
		showPage('enter_offlinedbase_pass');
	}

	// Allows things to switch to offline database variable for both main, readonly site versions.
	const siteColor = 'red';
	const hideReadonlyButtons = '<TMPL_VAR NAME=hide_readonly_store_buttons>';

	// Set Title to link to Home without dropping offline dbase.
	document.getElementById("titletext").onclick = function() {
		// Clear storage object for security.
		offlineData = {};
		showPage('enter_offlinedbase_pass');
	}

	//////////////////////////////////////////////////////////////
	//             Included Template Files                      //
	//////////////////////////////////////////////////////////////
	// This isn't cpp code but they would call these header files.
	// So, the top of the javascript seems like a good place for them?
	// The alternative is interspersed or at the end or something, both of which 
	// seem like worse options for code structure predictability/findability.
	//
	// Dev site javascript functions. Handles UI & crypto wrapper functions.
	<TMPL_INCLUDE NAME="dev_site_js.tmpl">
	// Javascript functions that are common to both main site index.html as well as offline database standalone.html.
	<TMPL_INCLUDE NAME="common_js.tmpl">
	// Fetch based server communication functions that interact with an online server.
	// - Might merge with common
	// - Need to devise wise way to use an if to filter out server comms functions that we wish to prune for security and otherwise.
	<TMPL_INCLUDE NAME="online_server_comms.tmpl">
	// Javascript native subtleCrypto lib based library used for Multi Encrypted Datarecord (MEDrecord) encryption/decryption.
	<TMPL_INCLUDE NAME="core_crypto.tmpl">

	// Function call wrapper that allows online and offline use of catchUpload.
	async function saveFileData(filedata){
		offlineData['data'] = filedata;
	}


	///////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////////////
	//                 Offline Database Manipulation                     //
	///////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////////////

	// Replaces the randomly generated 'dummy' chars with 43 length fingerprint and 1024 length encrypted data.
	// Used for store when fingerprint does not exist. Pointer needed for this function. 
	function storeFingerprintAndDataToOfflineDBase(pointer, fingerprint, multiEncryptedDatarecord, offlineDatabase) {
		// Multiplying moves us to record at pointer.
		const recordStart = pointer * FINGERPRINT_AND_MEDRECORD_LENGTH_BASE64;
		const recordEnd = recordStart + FINGERPRINT_AND_MEDRECORD_LENGTH_BASE64;
		// Compile replacement database. 
		// <Data in database until recordStart> + <fingerprint data> + <MED data> + <Data in database until recordEnd>
		return offlineDatabase.substring(0, recordStart) + fingerprint + multiEncryptedDatarecord + offlineDatabase.substring(recordEnd);
	}

	// Used for delete, RandDAta is needed to backfill keeping offlineDatabase the same length.
	// Used for store when fingerprint exists.
	function replaceFingerprintAndData(fingerprint, offlineDatabase, newData='delete') {
		const fingerprintStartIndex = offlineDatabase.indexOf(fingerprint);
		// Use a random fingerprint and data if neither were specified.
		if (newData === 'delete') {
			fingerprint = getRandFingerprint();
			newData = getRandMultiEncryptedDatarecord();
		}
		const recordEnd = fingerprintStartIndex + FINGERPRINT_AND_MEDRECORD_LENGTH_BASE64;
		return offlineDatabase.substring(0, fingerprintStartIndex) + fingerprint + newData + offlineDatabase.substring(recordEnd);
	}

	// Selects either Unencrypted or Encrypted database pointer based on if user inputted an offline database password at the start of the Flow.
	async function getOfflineDBasePointer() {
		// To determine which database pointer to return, first check if user entered an Offline Database password.
		if (getOfflineDatabaseType() === 'unencrypted') {
			return document.getElementById("offline_dbase_pointer").innerHTML;
		}else{
			const encPointer = document.getElementById("offline_dbase_enc_pointer").innerHTML;
			return await decryptTriple(offlineData['offlineDBasePass'], offlineData['offlineDBasePass'], offlineData['offlineDBasePass'], encPointer);
		}
	}

	// Returns either Unencrypted or Encrypted full offline database depending if user entered an offline database password.
	async function getOfflineDBase() {
		// To determine which database pointer to return, first check if user entered an Offline Database password.
		if (getOfflineDatabaseType() === 'unencrypted') {
			// User didn't enter password, return unencrypted as-is.
			return document.getElementById("offline_dbase").innerHTML;
		}else{
			// We need to decrypt the encrypted offline database which is stored in the html element.
			const encOfflineDatabase = document.getElementById("offline_dbase_enc").innerHTML;
			return await decryptAESCTR(encOfflineDatabase, offlineData['offlineDBasePass']);
		}
	}

	// Saves pointer to memory-stored HTML.
	async function setOfflineDBasePointer(pointer) {
		// To determine which database pointer to return, first check if user entered an Offline Database password.
		if (getOfflineDatabaseType() === 'unencrypted') {
			document.getElementById("offline_dbase_pointer").innerHTML = pointer;
		}else{
			document.getElementById("offline_dbase_enc_pointer").innerHTML = await encryptTriple(offlineData['offlineDBasePass'], offlineData['offlineDBasePass'], offlineData['offlineDBasePass'], pointer);
		}
	}

	// Saves full database to its home in html memory.
	async function setOfflineDBase(dbase) {
		// To determine which database pointer to return, first check if user entered an Offline Database password.
		if (getOfflineDatabaseType() === 'unencrypted') {
			document.getElementById("offline_dbase").innerHTML = dbase;
		}else{
			document.getElementById("offline_dbase_enc").innerHTML = await encryptAESCTR(dbase, offlineData['offlineDBasePass']);
		}
	}

	function checkFingerprintAndData(fingerprint, multiEncryptedDatarecord) {
		if (!checkFingerprintIsValid(fingerprint)) {
			throw new Error('Attempt to store to offline dbase failed! FINGERPRINT is invalid.');
		}else{
			console.log("FINGERPRINT IS VALID!");
		}

		if (!checkDataIsValid(multiEncryptedDatarecord)) {
			throw new Error('Attempt to store to offline dbase failed! DATA is invalid.');
		}else{
			console.log("DATA IS VALID!");
		}
	}

	function getOfflineDatabaseType() {
		// To determine which database pointer to return, first check if user entered an Offline Database password.
		if (offlineData['offlineDBasePass'] === undefined) {
			return "unencrypted";
		}else{
			return "encrypted";
		}
	} 

	function checkIfOfflineDBaseIsFull(pointer) {
		// Check if offline database is full.
		if (pointer > MAX_POINTER_VALUE) {//999 is ok because we should still be able to store to the last location in the 1000 record databaase. 
			// Inform user offline database is full.
			document.getElementById("full_offline_dbase_warning").style.display = "inline";
			return true;
		}else{
			document.getElementById("full_offline_dbase_warning").style.display = "none";
			return false;
		}
	}

	function fingerprintExists(fingerprint, offlineDatabase) {
		// -1 will indicate that the fingerprint was not found.
		if (offlineDatabase.indexOf(fingerprint) >= 0) {
			return true;
		}else{
			return false;
		}
	}

	// Store single record to the offline database selected by if user enters offline database password or not.
	async function storeOfflineDBase(fingerprint, multiEncryptedDatarecord) {
		// Reject invalid data.
		checkFingerprintAndData(fingerprint, multiEncryptedDatarecord);
		// Retrieve the database and pointer for the Flow we are in.
		let pointer = await getOfflineDBasePointer();
		//console.log("pointer value: " + pointer);
		let offlineDatabase = await getOfflineDBase();
		//Check if the offline database is full.
		if (checkIfOfflineDBaseIsFull(pointer)) {
			return "full";
		}
		// Variable to hold the new database.
		let replacement_offlineDatabase;
		//Check if the fingerprint matches the database and replace the data.
		if (fingerprintExists(fingerprint, offlineDatabase)) {
			replacement_offlineDatabase = replaceFingerprintAndData(fingerprint, offlineDatabase, multiEncryptedDatarecord);
		}else{ // If the fingerprint was not found, store a new value in the database.
			replacement_offlineDatabase = storeFingerprintAndDataToOfflineDBase(pointer, fingerprint, multiEncryptedDatarecord, offlineDatabase);
			pointer++;
			checkIfOfflineDBaseIsFull(pointer);
		}
		// Save pointer and offline database to in-memory HTML. ENC or UNENC determined by if an offline database ENC password was entered at flow start.
		await setOfflineDBasePointer(pointer);
		await setOfflineDBase(replacement_offlineDatabase);
	}

	// Try to load record at fingerprint. Works on both ENC and UNENC offline databases.
	async function attemptLoadOfflineDBase(fingerprint) {
		//console.log("Attempting Load. fingerprint: " + fingerprint);
		let offlineDatabase = await getOfflineDBase();
		// Search for fingerprint in offline dbase using regex.
		// fingerprintStartIndex will be the index of the beginning of the matched fingerprint.
		if (fingerprintExists(fingerprint, offlineDatabase)) {
			return getRecordOfflineDBase(fingerprint, offlineDatabase);
		}else{
			// Did  not find data on load attempt.
			return "miss";
		}
	}//attemptLoadOfflineDBase(()

	// Retrieve one 1000-char data record from an offline database. 
	function getRecordOfflineDBase(fingerprint, offlineDatabase) {
		const fingerprintStartIndex = offlineDatabase.indexOf(fingerprint);
		const fingerprintEndIndex = fingerprintStartIndex + FINGERPRINT_LENGTH_BASE64;
		const dataEndIndex = fingerprintEndIndex + MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64;
		// Get the data between fingerprintEndIndex and dataEndIndex.
		return offlineDatabase.substring(fingerprintEndIndex, dataEndIndex);
	}

	function checkFingerprint(fingerprint) {
		if (!checkFingerprintIsValid(fingerprint)) {
			throw new Error('Attempt to DELETE single record in offline dbase failed! FINGERPRINT is invalid.');
		}else{
			console.log("Delete Offline Database record attempt: FINGERPRINT IS VALID!");
		}
	}

	// Random data is generated and 'backfilled' increasing security and keeping Offline Database length the same.
	async function deleteRecordOfflineDBase(fingerprint) {
		checkFingerprint(fingerprint);
		// Select either ENC or UNENC pointer, offline database depending on if user entered ENC passowrd.
		let offlineDatabase = await getOfflineDBase();
		// Find record in offline dbase if it exists.
		// If the record exists, delete the fingerprint and data at fingerprintStartIndex location by overwriting with randonly generated, decrementing pointer.
		if (fingerprintExists(fingerprint, offlineDatabase)) {
			// Calling with empty third parameter indicates to replace with random data (deleting the record).
			const replacement_offlineDatabase = replaceFingerprintAndData(fingerprint, offlineDatabase);

			await setOfflineDBase(replacement_offlineDatabase);
			// Check that it was in fact deleted. Fingerprint should be random chars now and therefore miss on a correctly exexuted delete.
			const outcome = await attemptLoadOfflineDBase(fingerprint);
			if (outcome === "miss") {
				//console.log("Delete successful: returned miss from load attempt.");
				return "success";
			}else{
				console.log("Failed to delete data from offline database.");
				return "failed";
			}
		}else{
			console.log("Failed to find fingerprint, data to delete.");
			return "failed";
		}
	}//deleteRecordOfflineDBase()


	//////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////
	//         OFFLINE FLOWWALKER FUNCTIONALITY                 //
	//////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////

	// Reset user data storage object.
	function resetOfflineData() {
		offlineData = {};
	}

	async function superCheckEncPassword() {
		resetOfflineData();
		extractInputData('set_offlineDBasePass_input');
		await verifyOfflineDBasePasswordLength();
	}

	async function verifyOfflineDBasePasswordLength() {
		if (offlineData['offlineDBasePass'] === undefined || offlineData['offlineDBasePass'] === '') {
			console.log('caught empty ENC password');
			document.getElementById('emptyPassWarning').style.display = 'inline';
		}else{
			console.log('ENC password has successfully been entered.');
			const encPassCorrect = await checkEncPassword();
			if (encPassCorrect) {
				// returned true, Enc password correct.
				showPage('offline_home');
			}else{
				// returned false, Enc password incorrect.
				showPage('wrong_offlinedbase_password');
			}
		}
	}

	// Try to decrypt pointer to check if Enc password is correct.
	async function checkEncPassword() {
		try{
			// Will attempt decrypt of pointer.
			await getOfflineDBasePointer();
		}catch (error) {
			console.log("Looks like enc password entered incorrectly. error: ");
			console.log(error);
			return false;
		}
		return true;
	}

	// Use regex to extract keyword from input ID.
	function extractKeyword(inputId) {
		const regex = new RegExp(/^\\w+_(\\w+)_\\w+$/);
		const match = inputId.match(regex);
		return match[1];
	}

	//Function that extracts user password from html and deletes it from the html source.
	function extractPlaintextData(inputId) {
		const plaintextData = document.getElementById(inputId).value;
		document.getElementById(inputId).value = ""; //delete password from html
		return plaintextData;
	}


	async function initFlow(inputId) {
		extractInputData(inputId);
	}// initFlow()

	// Use separate storage object for offline secure data. Plaintext stored here.
	let offlineData = {};
	// Extract, encrypt, and store data at inputId to global passlockedData Object.
	function extractInputData(inputId) {
		const keyword = extractKeyword(inputId);
		console.log("Extracting keyword: " + keyword);
		const plaintextData = extractPlaintextData(inputId);
		// Encrypt user data using previously set passlock that will be retreived from server using browserId as long as we haven't timed out.
		offlineData[keyword] = plaintextData;
		console.log("Password gathering object: offlineData: ");
		console.log(offlineData);
	}

	// Checks existing encrypted pass at index vs reiteration step encrypted value.
	function checkData(inputId, nextPageId) {
		saveCurrentStateToHistorySoBackWillWork();
		const keyword = extractKeyword(inputId);
		const plaintextPass = extractPlaintextData(inputId);
		if (offlineData[keyword] === plaintextPass) {
			// Password re-iterated successfully, continue to next page.
			showPage(nextPageId);
		}else{
			showPassCheckFailWarnings();
			// Re-iterated password doesn't match original.
			throw Error("Offline Passwords are different!");
			// Failed to re-iterate, Stay on this page.
		}
	} // checkData()

	async function attemptCMDStore() {
		goBackProgrammaticallyXandDontFireShowPage(7);
		//const fingerprintAndData = await computeFpAndDataForStore();
		const fingerprint = await computeFingerprint(offlineData['codeword'], offlineData['obf1000Pass'], offlineData['ctrPass']);
		const multiEncryptedDatarecord = await encryptDouble(offlineData['obf1000Pass'], offlineData['ctrPass'], offlineData['data']);
		let storeResponse;
		// Select encrypted or regular offline database.
		storeResponse = await storeOfflineDBase(fingerprint, multiEncryptedDatarecord);
		//console.log("CMD Offline Store outcome: " + storeResponse);

		// Check that data stored properly.
		// Load data at fingerprint, should be the encrypted data block we just stored.
		const loadResponse = await attemptLoadOfflineDBase(fingerprint);
		// Report store outcome.
		if (multiEncryptedDatarecord === loadResponse) {
			// Data successfully stored to memory. Still needs saved to disk which must happen 'manually' by user.
			setSaveToDiskReminder();
			showPage('store_success');
		}else{
			// Doesn't look like server stored data properly, report fail.
			showPage('store_failed');
		}
	} // attemptCMDStore()

	async function attemptBrowserStoreBackWrapper(inputId) {
		console.log('back wrapper hit.');
		await attemptBrowserStore(inputId, 'true');
	}

	async function attemptBrowserStore(inputId, fromWrapper) {
		if (fromWrapper === 'true') {
			// Got here from edit, use go back value for Access flow.
			goBackProgrammaticallyXandDontFireShowPage(3);
			showPageFlag = 'true';
		} else {
			// Got here from Store flow.
			goBackProgrammaticallyXandDontFireShowPage(9);
		}
		extractInputData(inputId);
		//const fingerprintAndData = await computeFpAndDataForStore();
		const fingerprint = await computeFingerprint(offlineData['codeword'], offlineData['obf1000Pass'], offlineData['ctrPass']);
		const multiEncryptedDatarecord = await encryptTriple(offlineData['obf1000Pass'], offlineData['ctrPass'], offlineData['opensslpass'], offlineData['data']);
		let storeResponse;
		// Select encrypted or regular offline database.
		storeResponse = await storeOfflineDBase(fingerprint, multiEncryptedDatarecord);

		//console.log("Browser Offline Store outcome: " + storeResponse);
		// Load data at fingerprint, should be the encrypted data block we just stored.
		const loadResponse = await attemptLoadOfflineDBase(fingerprint);
		//console.log("loadResponse: " + loadResponse);
		// Report store outcome.
		if (multiEncryptedDatarecord === loadResponse) {
			showPage('store_success');
			setSaveToDiskReminder();
			// We succeeded.
			if (inputId === 'access_data_outputdisplay') {
				showPage('edit_success');
			}else{
				// Data successfully stored to memory. Still needs saved to disk which must happen 'manually' by user.
				showPage('store_success');
			}
		}else{
			// Doesn't look like server stored data properly, report fail.
			showPage('store_failed');
		}
	}

	async function editData() {
		document.getElementById('access_data_outputdisplay').disabled = false;
		// Turn on textarea so user can edit.
		document.getElementById('access_data_outputdisplay').focus();
		showEditEnabledUI();
		// Hide both existing buttons
		document.getElementById("editdata_button").style.display = "none";
		document.getElementById("delete_button").style.display = "none";
		// Show single SAVE button
		document.getElementById("save_button").style.display = "inline";
		// Show them again on save? Or go to store success/fail?
	}

	async function attemptCMDAccess() {
		goBackProgrammaticallyXandDontFireShowPage(3);
		const fingerprint = await computeFingerprint(offlineData['codeword'], offlineData['obf1000Pass'], offlineData['ctrPass']);
		// Add additional parameter?
		const multiEncryptedDatarecord = await attemptLoadOfflineDBase(fingerprint);

		if (multiEncryptedDatarecord === 'miss' || multiEncryptedDatarecord.length !== MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64 || !checkBase64Chars(multiEncryptedDatarecord)) {
			showPage('failed_to_access');
		}else{
			showPage('access_file');
			// On successful Access, hold fingerprint in HTML in case user wants to delete their data.
			decryptAndDownloadFileOffline(multiEncryptedDatarecord);
		}
	}

	async function attemptSyncToOnline(inputId) {
		goBackProgrammaticallyXandDontFireShowPage(2);
		// Get ctrPass - pass2.
		extractInputData(inputId);
		// First load encrypted data from offline database.
		const fingerprint = await computeFingerprint(offlineData['codeword'], offlineData['obf1000Pass'], offlineData['ctrPass']);
		const multiEncryptedDatarecord = await attemptLoadOfflineDBase(fingerprint);

		if (multiEncryptedDatarecord === 'miss' || multiEncryptedDatarecord.length !== MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64 || !checkBase64Chars(multiEncryptedDatarecord)) {
			showPage('failed_to_access'); // Access fail is valid here?
		}else{
			//showPage('access_file');
			// On successful Access, hold fingerprint in HTML in case user wants to delete their data.
			//decryptAndDownloadFileOffline(multiEncryptedDatarecord);
			//syncEncDataToServer(multiEncryptedDatarecord);
			storeDataToServer(fingerprint, multiEncryptedDatarecord);
		}
	}

	// Return either pass or fail to show outcome of store, pass or fail to user.
	// Legacy code probably needs full rewrite.
	async function storeDataToServer(fingerprint, multiEncryptedDatarecord) {
		// Attempt to store a record to the server.
		const storeResponse = await serverStore(fingerprint, multiEncryptedDatarecord);
		console.log("syncing data to server: storeResponse: " + storeResponse);
		if (storeResponse === 'STORES_OVER_100') {
			showPage('stores_over_100');
		}else{
			// Load data at fingerprint, should be the encrypted data block we just stored.
			const loadResponse = await serverLoad(fingerprint);
			console.log("syncing data to server: loadResponse: " + loadResponse);
			// Report store outcome.
			if (multiEncryptedDatarecord === loadResponse) {
				// We succeeded.
				showPage('sync_success');
			}else{
				// Doesn't look like server stored data properly, report fail.
				showPage('sync_failed');
			}
		}
	}// syncDataToServer()


	async function decryptAndDownloadFileOffline(multiEncryptedDatarecord) {
		const decryptedData  = await decryptDouble(offlineData['obf1000Pass'], offlineData['ctrPass'], multiEncryptedDatarecord);
			// bytes is Uint8Array
			const bytes = Uint8Array.fromBase64(decryptedData);
			// Produce file for user to decrypt.
			let blob = new Blob([bytes]);
			let a = document.createElement('a');
			a.href = window.URL.createObjectURL(blob);
			a.download = 'yourfile.enc';
			a.click();
	}// decryptAndDownloadFileOffline()

	async function attemptBrowserAccess(inputId) {
		goBackProgrammaticallyXandDontFireShowPage(4);
		// Encrypt and save OpenSSL password to passlockedData object.
		extractInputData(inputId);
		const fingerprint = await computeFingerprint(offlineData['codeword'], offlineData['obf1000Pass'], offlineData['ctrPass']);
		//console.log("fingerprint:" + fingerprint + " offlineData[codeword]:" + offlineData['codeword'] + " offlineData[obf1000Pass]:" + offlineData['obf1000Pass'] + " offlineData[ctrPass]:" + offlineData['ctrPass']);
		// First attempt loading from offline dbase. Can return 'miss'.
		const multiEncryptedDatarecord = await attemptLoadOfflineDBase(fingerprint);
		// Report outcome of Access attempt.
		if (multiEncryptedDatarecord === 'miss' || multiEncryptedDatarecord.length !== MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64 || !checkBase64Chars(multiEncryptedDatarecord)) {
			showPage('failed_to_access');
		}else{
			showPage('access_plaintext');
			await decryptAndShowPlaintextOffline(multiEncryptedDatarecord);
		}
	}

	async function decryptAndShowPlaintextOffline(multiEncryptedDatarecord) {
		let decryptedData;
		try {
			decryptedData  = await decryptTriple(offlineData['obf1000Pass'], offlineData['ctrPass'], offlineData['opensslpass'], multiEncryptedDatarecord);
		}catch (error) {
			// Would it make sense to catch a specific error?
			// Assume there was a password entry error.
			showPage("password_entry_error");
		}
		// Reveal plaintext to user.
		document.getElementById("access_data_outputdisplay").value = decryptedData;
	}

	async function attemptDelete() {
		const fingerprint = await computeFingerprint(offlineData['codeword'], offlineData['obf1000Pass'], offlineData['ctrPass']);
		const deleteResponse = await deleteRecordOfflineDBase(fingerprint);
		// Report delete outcome.
		if (deleteResponse === "success") {
			// Server successfully deleted data, report success.
			showPage('delete_success');
			setSaveToDiskReminder();
		}else{
			// Doesn't look like data was deleted properly, report fail.
			showPage('delete_failed');
		}
	}//attemptDelete()


	function clearSaveToDiskReminder() {
		document.getElementById("savetodisk_warning").style.display = "none";
	}

	function setSaveToDiskReminder() {
		document.getElementById("savetodisk_warning").style.display = "flex";
	}

	// Gonna need this functionality in order to store to disk.
	//
	// Grab currently running HTML and save it to standalone.html
	// This saves the offline dbase in addition to creating and downloading a standalone version that can be used offline.
	function saveToDisk() {
		// Clear reminder flag first or it will be active in saved file.
		clearSaveToDiskReminder();

		// This line doesn't get applied with the innerHTML call below so add it manually.
		let allhtml = "<!DOCTYPE HTML>";
		// This will grab a copy of the currently running HTML.
		allhtml += document.querySelector("html").innerHTML;
		//console.log(allhtml);
		let element = document.createElement('a');
		element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(allhtml));
		element.setAttribute('download', 'standalone.html');
		element.style.display = 'none';
		document.body.appendChild(element);
		element.click();
		document.body.removeChild(element);
	}

	////////////////////////////////////////////////////////////////////////
	//                   Check Functions                                  //
	////////////////////////////////////////////////////////////////////////

	// Returns true if input has precisely FINGERPRINT_LENGTH_BASE64 (43) base64 chars.
	function checkFingerprintIsValid(fingerprint) {
		// Need backticks to wrap regex inside constructor call so that global constant variable FINGERPRINT_LENGTH_BASE64 can be passed in.
		const regex = new RegExp(\`^[A-Za-z0-9+/=]{\${FINGERPRINT_LENGTH_BASE64}}$\`); // !@#
		if (regex.test(fingerprint)) {
			return true;
		}else{
			return false;
		}
	}

	// Returns true if input has precisely MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64 (1024) base64 chars.
	function checkDataIsValid(data) {
		const regex = new RegExp(\`^[A-Za-z0-9+/=]{\${MULTI_ENCRYPTED_DATARECORD_LENGTH_BASE64}}$\`); // !@#
		if (regex.test(data)) {
			return true;
		}else{
			return false;
		}
	}

	// Input: input is a string.
	// Output: Returns false if non-base58 characters are detected.
	function checkBase64Chars(input) {
		// From the first char(^) to the last($), match base64 chars.
		const regex = new RegExp(/^[a-zA-Z0-9+=\/]*$/);
		if (regex.test(input)) {
			// Return true/valid
			return true;
		}else{
			// Return false/invalid
			return false;
		}
	}//checkBase64Chars()


</script>
</body>
	<!-- Offline Database Data --!>
	<p id="offline_dbase_pointer" style="display:none">${offlineDatabaseUnencPointer}</p>
	<p id="offline_dbase" style="display:none">${offlineDatabaseUnenc}</p>
	<p id="offline_dbase_enc_pointer" style="display:none">${offlineDatabaseEncPointer}</p>
	<p id="offline_dbase_enc" style="display:none">${offlineDatabaseEnc}</p>
</html>

