
# This works for whole site. Authorization function.
#<Files get_offline_dbase.pl>
	#AuthType Basic
	#AuthName "restricted area"
	#AuthUserFile "/home/chatriwe/.htpasswds/public_html/vidcaps/passwd"
	#require valid-user
#</Files>

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET,POST,OPTIONS,DELETE,PUT"
Header set Access-Control-Allow-Headers X-Requested-With


RewriteEngine On
RewriteBase /
#RewriteRule ^store obfuscate.pl?id=store
#RewriteRule ^load obfuscate.pl?id=load
#RewriteRule ^delete obfuscate.pl?id=delete
#RewriteRule ^faq obfuscate.pl?id=faq
#RewriteRule ^how obfuscate.pl?id=how
# Redirect calls from /obf/exestore to /obf/store.pl
RewriteRule ^exestore store.pl
RewriteRule ^exeload load.pl
RewriteRule ^exedelete delete.pl
RewriteRule ^exeburststore burst_store.pl
RewriteRule ^exeonlinecheck online_check.pl
RewriteRule ^exesetpasslock set_passlock.pl
RewriteRule ^exegetpasslock get_passlock.pl
RewriteRule ^exedeletepasslock delete_passlock.pl

# Redirects for Offline Database
#RewriteRule ^exe_offline_set set_offline_dbase.pl
#RewriteRule ^exe_offline_get get_offline_dbase.pl


<Files "log.txt">  
  Require all denied
</Files>

# Allow CORS
#<IfModule mod_headers.c>
  #Header add Access-Control-Allow-Origin "*"
  #Header add Access-Control-Allow-Methods "GET,POST,OPTIONS,DELETE,PUT"
  #Header set Access-Control-Allow-Headers X-Requested-With
#</IfModule>

# Service Workers shouldn't be cached for very long
<FilesMatch "serviceworker.js">
  ExpiresDefault "now"
</FilesMatch>



