<!DOCTYPE HTML>
<html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<style>

	* {
	  font-family: "Orbitron", serif;
	  font-optical-sizing: auto;
	  font-weight: 600;
	  font-style: normal;
	}

	html {
		background-color: #272727;
/*		position: fixed;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
*/
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0;
		padding: 0;
		/*justify-content: center;
		align-items: center;
		position: relative;*/
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		color: #54c597;
		padding: 4px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.header_content {
		display: flex;
	}

	.header_title {

	}

	.header_label {
		padding: 8px;
	}

	.center_html {
		width: 100%;
		background-color: #272727;
		flex: 1 auto;
		display: flex;
		/*align-self: center;*/
	}

	.content_html {
		width: 100%;
		display: flex;
		/*align-items: baseline;*/
		justify-content: center;
	}

	.obf_button {
		/*width: 400px;*/
		height: 50px;
		background-color: #434343;
		border: 2px solid;
		padding: 8px;
		margin: 2px;
		padding-right: 10px;
		padding-left: 10px;
		color: #54c597;
		border-color: #54c597;
		font-size: 17px;
		border-radius: 10px;
	}
	
</style>
<body>

	<div class="header" id="header">
		<div class="header_content" id="header_left">
			<div class="header_title">
				<h1>SECRETWORD</h1>
			</div>
		</div>
		<div class="header_content" id="header_right">
			<div class="header_label" style="">
				<label>HOW IT WORKS</label>
			</div>
			<div class="header_label" style="">
				<label>FAQ</label>
			</div>
		</div>
	</div>
	<div class="center_html" id="center_html">
		<div class="content_html" id="content_html">

			<TMPL_VAR NAME=htmlblock>
<!--
			<div id="generated_html" style="align-self: center; display: flex; flex-direction: column; justify-content: center; color: #54c597">
				<h2>SECURELY STORE DATA AND ACCESS FROM ANY WEB BROWSER</h2>
				<div id="button_div" style="display:flex; justify-content: center">
					<button class="obf_button" id='go_store_thread' onclick="location.href='https://chat.dance/obfuscate.pl?id=store';">STORE SECRET DATA</button>
					<button class="obf_button" id='go_load_thread' onclick="location.href='https://chat.dance/obfuscate.pl?id=load';">ACCESS SECRET DATA</button>
					<button class="obf_button" id='go_import_thread' onclick="location.href='https://chat.dance/obfuscate.pl?id=delete';">IMPORT SECRET DATA</button>
				</div>
			</div>
--!>
		</div>
	</div>

	<input value="fea" id="store_codeword" style="display:none; width: 400px;"></input>
	<input value="fead" id="store_pass_1" style="display:none; width: 400px;"></input>
	<input value="hfdasgfda" id="store_pass_2" style="display:none; width: 400px;"></input>
	<input value="fdafdaf" id="store_pass_3" style="display:none; width: 400px;">

</body>
<script>

	// Catch Enter key press with this in the HTML Object:
	// onkeypress="return window.parent.searchKeyPress(event);"
	function searchKeyPress(e){
		console.log("keyCode: " + e.keyCode);
		// look for window.event in case event isn't passed in
		e = e || window.event;
		if (e.keyCode == 13){
		console.log("keyCode is 13!!! ~" + e.keyCode + "~");
			// Run the function directly instead of using a .click of the button,
			// which seemed to cause issues.
			check_captcha();
			return false;
		}
		return true;
	}

</script>

</body>

</html>
