<!DOCTYPE HTML>
<html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<style>

	* {
	  font-family: "Orbitron", serif;
	  font-optical-sizing: auto;
	  font-weight: 600;
	  font-style: normal;
	}

	html {
		background-color: #272727;
/*		position: fixed;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
*/
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0;
		padding: 0;
		/*justify-content: center;
		align-items: center;
		position: relative;*/
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		color: #54c597;
		padding: 4px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.header_content {
		display: flex;
	}

	.header_title {

	}

	.header_label {
		padding: 8px;
	}

	.center_html {
		width: 100%;
		background-color: #272727;
		flex: 1 auto;
		display: flex;
		/*align-self: center;*/
	}

	.content_html {
		width: 100%;
		display: flex;
		/*align-items: baseline;*/
		justify-content: center;
	}

	/* generated conetent */
	.gen {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: center; 
		color: #54c597;
	}

	/* obf button */
	button {
		/*width: 400px;*/
		height: 65px;
		background-color: #434343;
		border: 2px solid;
		padding: 2px;
		margin: 8px;
		padding-right: 10px;
		padding-left: 10px;
		color: #54c597;
		border-color: #54c597;
		font-size: 17px;
		border-radius: 15px;
	}

	input {
		height: 80px;
		width: 800px;
		background-color: #272727;
		border: 2px solid;
		padding: 8px;
		margin: 8px;
		border-color: #54c597;
		color: #54c597;
		font-size: 25px;
		border-radius: 20px;
	}

	textarea {
		background-color: #272727;
		border: 2px solid;
		padding: 8px;
		margin: 8px;
		border-color: #54c597;
		color: #54c597;
		font-size: 25px;
		border-radius: 30px;
	}
	
</style>
<body>

	<div class="header" id="header">
		<div class="header_content" id="header_left">
			<div class="header_title">
				<h1 id="titletext">SECRETWORD</h1>
			</div>
		</div>
		<div class="header_content" id="header_right">
			<div class="header_label" style="">
				<label id="howworks">HOW IT WORKS</label>
			</div>
			<div class="header_label" style="">
				<label id="faq">FAQ</label>
			</div>
		</div>
	</div>
	<div class="center_html" id="center_html">
		<div class="content_html" id="content_html">

			<TMPL_VAR NAME=htmlblock>
<!--   store  
			<div class="gen store one" id="generated_html" style="">
				<label>STORE DATA</label>
				<h2>ENTER CODE WORD TO HELP YOU REMEMBER YOUR SECRET DATA</h2>
				<input value="" id="store_codeword" style="">
				<button class="" id='sf1' style="width: 250px;" onclick="storeFromOne()">NEXT</button>
			</div>

			<div class="gen store two" id="generated_html" style="display:none">
				<label>STORE DATA</label>
				<textarea value="" id="store_data" rows="8" cols="50">ENTER YOUR SECRET DATA</textarea>
				<button class="" id='sf2' style="width: 250px; align-self:center;" onclick="storeFromTwo()">ENCRYPT DATA</button>
			</div>

			<div class="gen store three" id="generated_html" style="display:none">
				<label>&#10004; SECRET DATA SAVED</label>
				<h2>ENTER SECRET WORD 1</h2>
				<input value="" id="store_p1" style="">
				<div class="button_pair" id="button_pair" style="display:flex;">
					<button class="" id='deepstorebutton' style="flex-grow:1;" onclick="deepStore()">DEEP STORE DATA</button>
					<button class="" id='sf3' style="flex-grow:1;" onclick="storeFromThree()">ENHANCE SECURITY</button>
				</div>
			</div>

			<div class="gen store four" id="generated_html" style="display:none">
				<label>&#10004; SECRET DATA SAVED</label>
				<label>&#10004; SECRET WORD 1 SAVED</label>
				<h2>ENTER SECRET WORD 2</h2>
				<input value="" id="store_p2" style="">
				<div class="button_pair" id="button_pair" style="display:flex;">
					<button class="" id='deepstorebutton' style="flex-grow:1;" onclick="deepStore()">DEEP STORE DATA</button>
					<button class="" id='sf4' style="flex-grow:1;" onclick="storeFromFour()">ENHANCE SECURITY</button>
				</div>
			</div>

			<div class="gen store five" id="generated_html" style="display:none">
				<label>&#10004; SECRET DATA SAVED</label>
				<label>&#10004; SECRET WORD 1 SAVED</label>
				<label>&#10004; SECRET WORD 2 SAVED</label>
				<h2>ENTER SECRET WORD 3</h2>
				<input value="" id="store_p3" style="">
				<button class="" id='deepstorebutton' style="width:50%;align-self:center;" onclick="storeFromFive()">DEEP STORE DATA</button>
			</div>

			<div class="gen store six" id="generated_html" style="display:none">
				<h2>&#10004; SECRET DATA SUCCESSFULLY STORED AND ENCRYPTED</h2>
				<div class="button_pair" id="button_pair" style="display:flex;">
					<button class="" id='accessdata' style="width:400px;" onclick="loadFromOne()">ACCESS DATA</button>
					<button class="" id='learnmore' style="width:400px;" onclick="faq()">LEARN MORE</button>
				</div>
			</div>
	<input id="store_codeword_ph" style="display:none;">
	<input id="store_data_ph" style="display:none;">
	<input id="store_p1_ph" style="display:none;">
	<input id="store_p2_ph" style="display:none;">
	<input id="store_p3_ph" style="display:none;">
   store  


   load  
			<div class="gen load one" id="generated_html" style="">
				<label>ACCESS DATA</label>
				<h2>ENTER CODE WORD</h2>
				<input value="" id="load_codeword" style="">
				<button class="" id='lf1' style="width: 250px;" onclick="loadFromOne()">NEXT</button>
			</div>

			<div class="gen load two" id="generated_html" style="display:none">
				<label>&#10004; CODE WORD ENTERED</label> 
				<h2>ENTER SECRET WORD 1</h2>
				<input value="" id="load_p1" style="">
				<div class="button_pair" id="button_pair" style="display:flex;">
					<button class="" id='deepstorebutton' style="flex-grow:1;" onclick="">BACK</button>
					<button class="" id='lf2' style="flex-grow:1;" onclick="loadFromTwo()">NEXT</button>
				</div>
			</div>

			<div class="gen load three" id="generated_html" style="display:none">
				<label>&#10004; CODE WORD ENTERED</label> 
				<label>&#10004; SECRET WORD 1 ENTERED</label> 
				<h2>ENTER SECRET WORD 2</h2>
				<input value="" id="load_p2" style="">
				<div class="button_pair" id="button_pair" style="display:flex;">
					<button class="" id='deepstorebutton' style="flex-grow:1;" onclick="">BACK</button>
					<button class="" id='lf3' style="flex-grow:1;" onclick="loadFromThree()">NEXT</button>
				</div>
			</div>

			<div class="gen load four" id="generated_html" style="display:none">
				<label>&#10004; CODE WORD ENTERED</label> 
				<label>&#10004; SECRET WORD 1 ENTERED</label> 
				<label>&#10004; SECRET WORD 2 ENTERED</label> 
				<h2>ENTER SECRET WORD 3</h2>
				<input value="" id="load_p3" style="">
				<div class="button_pair" id="button_pair" style="display:flex;">
					<button class="" id='deepstorebutton' style="flex-grow:1;" onclick="">BACK</button>
					<button class="" id='lf4' style="flex-grow:1;" onclick="loadFromFour()">ACCESS DATA</button>
				</div>
			</div>

			<div class="gen load five" id="generated_html" style="display:none">
				<label>&#10004; SUCCESS</label>
				<textarea value="" id="load_data" rows="8" cols="50">i luv lamp ;-)</textarea>
				<div class="button_pair" id="button_pair" style="display:flex;">
					<button class="" id='deepstorebutton' style="flex-grow:1;" onclick="">ACCESS MORE DATA</button>
					<button class="" id='' style="flex-grow:1;" onclick="">STORE MORE DATA</button>
				</div>
			</div>

	<input id="load_codeword_ph" style="display:none;">
	<input id="load_p1_ph" style="display:none;">
	<input id="load_p2_ph" style="display:none;">
	<input id="load_p3_ph" style="display:none;">
   load  --!>
		</div>
	</div>

</body>
<script>

	// Set Title to link to Home.
	document.getElementById("titletext").onclick = function() {
		location.href = "http://chat.dance/obf";
	}
	// later
	document.getElementById("howworks").onclick = function() {
		//location.href = "http://chat.dance/obf/howworks";
		// howworks();
	}
	// later
	document.getElementById("faq").onclick = function() {
		//location.href = "http://chat.dance/obf/faq";
		// faq();
	}


	// construction todo:
	// import thread
	// delete data


	function storeFromOne(){
		console.log("hit storeFromOne()");
		// Show elements with classes store AND two
		document.querySelectorAll(".store.two").forEach(a=>a.style.display = "flex");
		// Hide elements with classes store AND one 
		document.querySelectorAll(".store.one").forEach(a=>a.style.display = "none");

		// hold code word
	}

	function storeFromTwo(){
		console.log("hit storeFromTwo()");
		// Show 
		document.querySelectorAll(".store.three").forEach(a=>a.style.display = "flex");
		// Hide 
		document.querySelectorAll(".store.two").forEach(a=>a.style.display = "none");

		// hold data
	}

	function storeFromThree(){
		console.log("store from three");
		// Show 
		document.querySelectorAll(".store.four").forEach(a=>a.style.display = "flex");
		// Hide 
		document.querySelectorAll(".store.three").forEach(a=>a.style.display = "none");

		// hold p1
	}

	function storeFromFour(){
		console.log("store from four");
		// Show 
		document.querySelectorAll(".store.five").forEach(a=>a.style.display = "flex");
		// Hide 
		document.querySelectorAll(".store.four").forEach(a=>a.style.display = "none");

		// hold p2
	}

	function storeFromFive(){
		console.log("store from five");
		// Show 
		document.querySelectorAll(".store.six").forEach(a=>a.style.display = "flex");
		// Hide 
		document.querySelectorAll(".store.five").forEach(a=>a.style.display = "none");

		// hold p3
		// deep store

		// last buttons go to:
		// Load
		// Learn More - FAQ?
	}


//////////////load
	function loadFromOne(){
		console.log("");
		// Show elements with classes load AND two
		document.querySelectorAll(".load.two").forEach(a=>a.style.display = "flex");
		// Hide elements with classes load AND one 
		document.querySelectorAll(".load.one").forEach(a=>a.style.display = "none");

		// hold code word
	}

	function loadFromTwo(){
		console.log("");
		// Show 
		document.querySelectorAll(".load.three").forEach(a=>a.style.display = "flex");
		// Hide 
		document.querySelectorAll(".load.two").forEach(a=>a.style.display = "none");

		// hold p1
	}

	function loadFromThree(){
		console.log("");
		// Show 
		document.querySelectorAll(".load.four").forEach(a=>a.style.display = "flex");
		// Hide 
		document.querySelectorAll(".load.three").forEach(a=>a.style.display = "none");

		// hold p2
	}

	function loadFromFour(){
		console.log("");
		// Show 
		document.querySelectorAll(".load.five").forEach(a=>a.style.display = "flex");
		// Hide 
		document.querySelectorAll(".load.four").forEach(a=>a.style.display = "none");

		// hold p3
		// deep load
	}



	// Catch Enter key press with this in the HTML Object:
	// onkeypress="return window.parent.searchKeyPress(event);"
	function searchKeyPress(e){
		console.log("keyCode: " + e.keyCode);
		// look for window.event in case event isn't passed in
		e = e || window.event;
		if (e.keyCode == 13){
		console.log("keyCode is 13!!! ~" + e.keyCode + "~");
			// Run the function directly instead of using a .click of the button,
			// which seemed to cause issues.
			check_captcha();
			return false;
		}
		return true;
	}

</script>

</body>

</html>
